[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scipy = "*"
sqlalchemy = "*"
sounddevice = "*"
numpy = "*"
transformers = "*"
speechrecognition = "*"
soundfile = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.13"
